@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&family=Roboto:wght@100;300;400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.underline-animate::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: currentColor; /* Color for underline */
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease;
}
.underline-animate:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}
.dark .underline-animate::before {
  background-color: #ffffff; /* White underline in dark mode */
}
.underline-animate {
  position: relative;
  display: inline-block;
  color: #000000; /* Black text color */
}
.dark .underline-animate {
  color: #ffffff; /* White text color in dark mode */
}
